<html>
  <head>
    <title>Wait List App</title>
  </head>
  <body>
    <h1>Wait List</h1>
    <form action="/" method="post">
      <input type="text" name="name" placeholder="Name">
      <input type="submit" name="submit_button" value="Add to Wait List">
    </form>
    <ul>
      {% for name in wait_list %}
      <li>{{ name }}</li>
      {% endfor %}
    </ul>
    {% if wait_list %}
    <form action="/" method="post">
      <input type="submit" name="submit_button" value="Next in Wait List">
    </form>
    {% endif %}
  </body>
</html>
